<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <li>
        <%=flash[:notice]%>
      </li>
    </div>
  </div>
<% end %>
<div>
<%="Welcome " + "#{current_user.email} !" %>
</div>
<%= link_to "Edit profile", "users/edit" %>
<br>
</br>
<div>
  <%if current_user.astronaut == false%>
    <%="You are a candidate do you want to want to be an astronaut?"%>
         <%= link_to "LAUNCH", profile_page_path(1) %>
  <%end%>
</div>
<div>
  <%if current_user.astronaut == true%>
    <%="You are an astronaut do you want to want to be an candidate?"%>
         <%= link_to "LAND", profile_page_path(2) %>
  <%end%>
</div>
